.descriptionBlock {
    padding: 10px;
}

.item img {
    width: 110px;
    height: 110px;
    border-radius: 20px;
    margin: 15px 10px 0px 15px
}

.mainPhoto {
    max-width: 200px;
}

.contact {
    padding-left: 10px;
}