.appwrapper {
  margin: 0 auto;
  width: 1280px;
  min-height: 500px;
  display: grid;

grid-template-areas:
  "h h"
  "n c";

grid-template-rows: 100px 1fr;
grid-template-columns: 2fr 10fr;
/* grid-gap: 1px;  */
}

.appwrappercontent {
  grid-area: c;
  text-align: left;
  background-color: cornflowerblue;
}

.Polaroid {
  min-height: 150px;
  background: url('https://mathmunch.files.wordpress.com/2013/07/summer.jpg') right no-repeat;
  background-size: cover
}





